.container {
	/* display: flex;	 */
    width: ;
	/* background-color:black; */
    /* justify-content: center; */
    /* padding: 10px; */
}

.container ul {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

li {
	margin: 20px;
	list-style-type: none;
}

.nav-enlace{
    display: inline-block;    
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace-cart{
    display: inline-block;    
    color:#fff;
    padding: 10px 30px;
    justify-content: right;
}


.nav-enlace:hover, .nav-enlace-cart:hover{
    background-color:white;
}

.ui.inverted.menu .item, .ui.inverted.menu .item>a:not(.ui){
    color:white;
}
