.container {
	display: flex;	
	background-color: green;
    justify-content: center;
}

.container ul {
	display: flex;
	justify-content: space-between;
	padding: 10px;
}

li {
	margin: 20px;
	list-style-type: none;
}

.nav-enlace{
    display: inline-block;
    background-color:green;
    color:#fff;
    padding: 10px 30px;
    text-decoration: none;
}

.nav-enlace-cart{
    display: inline-block;
    background-color:green;
    color:#fff;
    padding: 10px 30px;
    justify-content: right;
}


.nav-enlace:hover, .nav-enlace-cart:hover{
    background-color:greenyellow;
}


nav{
    background-color:green;
    padding: 10px;
}