
.item-cartWidget{
    size: 25px;
    /* margin: 0 0 0 2em; */
}

.item-cartWidget-link {
    /* display: block; */
    text-decoration: none;
    /* list-style: none; */
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: space-between;
    align-items: center;
  }
  
  .item-cartWidget-price {
    color: #fff;
  }
  
  .item-cartWidget-total {
    background-color: #00A160;
    color: #fff;
    padding: 3px 7px 3px 7px;
    border-radius: 25%;
    font-weight: bold;
  }

  .icon-cart{
    font-size: "30px";
    color: "white";
  }