.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}


.input-container {
    position:relative;
    padding: 10px 20px 20px 10px;
    margin: 0 auto 20px;
    background:rgb(212, 163, 163);
    width: 97%;
}    

.input-search {
    margin: 0 0 0 2em;
    position: relative;
}
  
.input-search > .icon {
    position: absolute;
    top: 2px;
    left: 7px;
}
  
.input-search > input {
    padding-left: 30px;
}

.item-list {
    display: flex;
    flex-wrap: wrap;
    min-height: 100%;
}    


/* .input {
    height:20px;
    margin:0;
    padding-right: 30px;
} */
/* .input-img {
    position:absolute;
    bottom:2px;
    right:5px;
    width:24px;
    height:24px;
} */
