@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Road+Rage&display=swap");

/* For Mobile */
@media screen and (max-width: 540px) {
  .App {
      width: 400px;
  }
}

/* For Tablets */
@media screen and (min-width: 540px) and (max-width: 780px) {
  .App {
      width: 600px;
  }
}

.App {
  /* border:10px solid green; */
  width: 100%;
  height: 100%;
}

.App-header {
  /* border:10px solid blue; */
  width: 100%;
  height: 175px;
  /* background-color: #282c34; */
}

.App-body {
  /* border:10px solid red; */
  min-height: calc(72vh - 175px - 46px);
  height: 77vh; 
  display: block;
  overflow-y: scroll;
  scroll-behavior: smooth;

}

.App-footer {
  /* border:10px solid yellow; */
  position: flexed;
  width: 100%;
  min-height: 46px;
}


.main-msge-error{
  width: 100%;
  flex-direction: column;
  display: flex;
  align-items: center;
  /* justify-content: center; */
  margin-top: 0.5em;
  
}

.msge-error-text h1 {
	display: flex;
	font-family: "Bebas Neue", cursive;
	font-size: 4em;
  color:#EA1F63;
}
.msge-error-image{
  display: flex;
  height: 400px;
  width: 600px;
}

.msge-error-link{
  display: flex;
  justify-content: center;
  padding: 3em;
}